<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
<app-navbar></app-navbar>
<!-- BEGIN CONTAINER -->
<div class="page-container">
  <app-sidebar></app-sidebar>
  <!-- BEGIN CONTENT -->
  <div class="page-content-wrapper">
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- END CONTAINER -->
  <!-- BEGIN FOOTER -->
  <div class="page-footer">
    <div class="page-footer-inner"> 2018 &copy; system by wsmhz.
      <a href="https://gitee.com/wsmhz/"  target="_blank">wsmhz shop</a>
    </div>
    <div class="scroll-to-top">
      <i class="icon-arrow-up"></i>
    </div>
  </div>
</div>
</body>
