<!-- BEGIN SIDEBAR -->
<div class="page-sidebar nav-collapse collapse">

<!-- BEGIN SIDEBAR MENU -->

<ul class="page-sidebar-menu">

  <li>

    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->

    <div class="sidebar-toggler hidden-phone"></div>

    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->

  </li>

  <li class="start active ">

    <a href="index.html">

      <i class="icon-home"></i>

      <span class="title">Dashboard</span>

      <span class="selected"></span>

    </a>

  </li>


  <li class="">

    <a href="javascript:;">

      <i class="icon-briefcase"></i>

      <span class="title">Pages</span>

      <span class="arrow "></span>

    </a>

    <ul class="sub-menu">

      <li >

        <a href="page_about.html">

          <i class="icon-group"></i>

          About Us</a>

      </li>

      <li >

        <a href="page_contact.html">

          <i class="icon-envelope-alt"></i>

          Contact Us</a>

      </li>

      <li >

        <a href="page_calendar.html">

          <i class="icon-calendar"></i>

          Calendar</a>

      </li>

    </ul>

  </li>


  <li>

    <a class="active" href="javascript:;">

      <i class="icon-sitemap"></i>

      <span class="title">3 Level Menu</span>

      <span class="arrow "></span>

    </a>

    <ul class="sub-menu">

      <li>

        <a href="javascript:;">

          Item 1

          <span class="arrow"></span>

        </a>

        <ul class="sub-menu">

          <li><a href="#">Sample Link 1</a></li>

          <li><a href="#">Sample Link 2</a></li>

          <li><a href="#">Sample Link 3</a></li>

        </ul>

      </li>

      <li>

        <a href="javascript:;">

          Item 1

          <span class="arrow"></span>

        </a>

        <ul class="sub-menu">

          <li><a href="#">Sample Link 1</a></li>

          <li><a href="#">Sample Link 1</a></li>

          <li><a href="#">Sample Link 1</a></li>

        </ul>

      </li>

      <li>

        <a href="#">

          Item 3

        </a>

      </li>

    </ul>

  </li>



  <li class="">

    <a href="javascript:;">

      <i class="icon-th"></i>

      <span class="title">Data Tables</span>

      <span class="arrow "></span>

    </a>

    <ul class="sub-menu">

      <li >

        <a href="table_basic.html">

          Basic Tables</a>

      </li>

      <li >

        <a href="table_responsive.html">

          Responsive Tables</a>

      </li>

      <li >

        <a href="table_managed.html">

          Managed Tables</a>

      </li>

      <li >

        <a href="table_editable.html">

          Editable Tables</a>

      </li>

      <li >

        <a href="table_advanced.html">

          Advanced Tables</a>

      </li>

    </ul>

  </li>


  <li class="">

    <a href="javascript:;">

      <i class="icon-map-marker"></i>

      <span class="title">Maps</span>

      <span class="arrow "></span>

    </a>

    <ul class="sub-menu">

      <li >

        <a href="maps_google.html">

          Google Maps</a>

      </li>

      <li >

        <a href="maps_vector.html">

          Vector Maps</a>

      </li>

    </ul>

  </li>



</ul>

<!-- END SIDEBAR MENU -->

</div>
<!-- END SIDEBAR -->
